<!doctype html>
<html class="m-0 p-0">
  <head>
    <title>{{ page_title }}</title>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="description" content="{{ page_description | escape }}">
    <link rel="canonical" href="{{ canonical_url }}">
    <meta name="viewport" content="width=device-width,initial-scale=1,shrink-to-fit=no">
    {{ content_for_header }}
    <!-- Header hook for plugins -->
    {{ 'application.css' | asset_url | stylesheet_tag }}
    <script src="{{ 'application.js' | asset_url }}" defer></script>
  </head>
  <body class="m-0 p-0 flex flex-col min-h-screen">
    {% section 'header' %}
    <main role="main" class="flex-1">
      {{ content_for_layout }}
    </main>
    {% section 'custom-footer' %}
    {% section 'cart-drawer' %}
  </body>
</html>